$background-body: #c3cfe2;
$background-testimonial: white;
$testimonial-text: rgb(85, 85, 85);
$footer-testimonial: #686de0;
$website-testimonial: #c2c4ff;
$testimonial-shadow: #888888; 
$testimonial-text: black;
$socialicons-blog: #e17b77;
$socialicons-twitter: #00aced;
$socialicons-linkedin: #007bb6;
$socialicons-facebook: #3b5998;
$socialicons-github: #333;